.additional-products-list{

}

.additional-products-list__item{

}

.additional-products-list__title{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;

}
.additional-products-list__features{

}

.additional-products-list__link{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #ffffff;
}
