.additional-product{

}

.additional-product__container{

}

.additional-products__headline{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 24px;
text-align: center;
color: #000000;
}

.additional-product__list{

}
