.additional-product{

}

.additional-products__container{
  display: flex;
flex-direction: column;
min-width: 100%;
min-height: 904px;
margin: 0 auto;
gap:70px;
}


.additional-products-promo__container{
  display: flex;
  flex-direction: column;
}

@media(min-width:$desktop-width){
  .additional-products-promo__container{
    min-width: 1221px;
    min-height: 288px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
gap: 70px;
  }
}

.additional-products__headline{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 24px;
text-align: center;
color: #000000;
}

.additional-product__list{
  display: flex;
  flex-direction: column;
  min-width: 280px;
  min-height:519px;
}
