.main-menu{

}

.main-menu__toggle{

}

.main-menu__container{

}

.main-menu__list{

}

.main-menu__item{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 20px;
font-style: normal;
line-height: 20px;
text-transform: uppercase;
color: #000000;
}

