.page{
 height: 100%;
}

.page__body{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
min-height: 100%;
  padding-left:20px;
  padding-right: 20px;

}

@media(min-width:$tablet-width){
  .page__body{
padding-left: 30px;
  padding-right: 30px;
  }
}

@media(min-width:$desktop-width){
  .page__body{
 padding-left: 110px;
  padding-right: 110px;
  }
}
