.product-card{

}

.product-card__product-image{

}

.product-card__title{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 16px;
font-style: normal;
line-height: 20px;
text-transform: uppercase;
color: #222222;


}

.product-card__features{

}

.product-card__link{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 16px;
font-style: normal;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #ffffff;
background-color: #68b738;
}
