.product-advertisment{
background-color: #68b738;
}

.product-advertisment__container{

}

.product-advertisment__title{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  text-align:center ;
  color: #ffffff;

}

.product-advertisment__slogan{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

}

.product-advertisment__image{

}

.product-advertisment__link{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #ffffff;
background-color: #68b738;
}
