.product-advertisement{

}
.product-advertisement__container{
  background-image: url('../../images/advertisment/advertisemenet-cat.png');
background-size:contain;
 background-repeat: no-repeat;
 min-height: 480px;
 display: flex;
 flex-direction: column;



}

@media(min-width: $tablet-width){
  .product-advertisement__container{
    background: #ffffff;
    min-height: 609px;


  }

}

@media(min-width: $desktop-width){
  .product-advertisement__container{
    display: grid;
    min-height: 694px;
    grid-template-columns: repeat(2,1fr);



  }


}
.product-advertisement__title{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  text-align:center ;
  color: #ffffff;

}
@media( min-width: $tablet-width){
  .product-advertisement__title{
    color: #000000;
  }

}

.product-advertisement__slogan{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

}

@media( min-width:  $tablet-width ){
  .product-advertisement__slogan{
    color:#000000;
  }
}


.product-advertisement__image{

}

.advertisment__cat-image{
  background-image: url('../../images/advertisment/advertisemenet-cat.png');
background-size:contain;
 background-repeat: no-repeat;
}


.product-advertisement__link{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
background-color: #68B738;

}
