.product-advertisement{

}
.product-advertisement__container{
  background-image: url('../../images/advertisment/advertisemenet-cat.png');
background-size:contain;
 background-repeat: no-repeat;


}
.product-advertisement__title{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  text-align:center ;
  color: #ffffff;

}

.product-advertisement__slogan{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

}

.product-advertisement__image{

}

.product-advertisement__link{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
background-color: #68B738;

}
