.product-benefits{

}

.product-benefits__container{
  min-width: 280px;
  min-height:380px;
  
}
@media(min-width:$tablet-width){
  .product-benefits__container{
    min-width: 768px;
    min-height:781px;

}
}

@media(min-width:$desktop-width){
  .product-benefits__container{
    min-width: 1220px;
    min-height:570px;
}
}

.product-benefits__title{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 36px;
font-style: normal;
line-height: 40px;
text-align: center;
color: #000000;
}

.product-benefits__list{
  display: flex;
  flex-direction: column;
  gap:24px;
margin: 0;
padding: 0;
list-style: none;
}

@media(min-width:$tablet-width){
  .product-benefits__list{
    display: grid;
    grid-template-columns: repeat(2,1fr);

  }
}

@media(min-width:$desktop-width){
  .product-benefits__list{
display: flex;
flex-direction: row;


  }
}


.product-benefits__item{
display: flex;
flex-direction: row;
gap:4px;
}

@media( min-width:$tablet-width){
  .product-benefits__item{
    display: flex;
    flex-direction: column;
    gap:31px;
}
}

.product-benefits__item--product-nutrients{

}

.product-benefits__item--product-nutrients::before{
display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url('../../icons/stack.svg#product-nutrients');
  background-position: center;
  background-repeat: no-repeat;

}

@media(min-width:$tablet-width){
  product-benefits__item--product-nutrients::before{
    width: 80px;
    height:80px;
  }
}
.product-benefits__item--form{

}

.product-benefits__item--form::before{
  display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url('../../icons/stack.svg#product-form');
    background-position: center;
    background-repeat: no-repeat;

}
@media(min-width:$tablet-width){
  .product-benefits__item--form::before{
    width:80px;
    height: 80px;
  }
}

.product-benefits__item--using{

}
.product-benefits__item--using::before{
  display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url('../../icons/stack.svg#product-using');
    background-position: center;
    background-repeat: no-repeat;
}

@media(min-width:$tablet-width){
  .product-benefits__item--using::before{
    width: 80px;
    height: 80px;
  }
}

.product-benefits__item--result{
}

.product-benefits__item--result::before{
  display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url('../../icons/stack.svg#product-result');
    background-position: center;
    background-repeat: no-repeat;

}

@media(min-width:$tablet-width){
  .product-benefits__item--result::before{
    width: 80px;
    height: 80px;
  }
}


.product-benefits__description{
 font-family: "lato",
"Arial",sans-serif;
font-weight: 400;
font-size: 14px;
font-style: normal;
line-height: 18px;
color: #444444;
}


