.product-benefits{

}

.product-benefits__container{

}

.product-benefits__title{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 36px;
font-style: normal;
line-height: 40px;
text-align: center;
color: #000000;
}

.product-benefits__list{

}
.product-benefits__item{

}

.product-benefits__item--product-nutrients{

}

.product-benefits__item--product-nutrients::before{
display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url('../../icons/stack.svg#product-nutrients');
  background-position: center;
  background-repeat: no-repeat;

}

.product-benefits__item--form{

}

.product-benefits__item--form::before{
  display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url('../../icons/stack.svg#product-form');
    background-position: center;
    background-repeat: no-repeat;

}


.product-benefits__item--using{

}
.product-benefits__item--using::before{
  display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url('../../icons/stack.svg#product-using');
    background-position: center;
    background-repeat: no-repeat;
}

.product-benefits__item--result{
}

.product-benefits__item--result::before{
  display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url('../../icons/stack.svg#product-result');
    background-position: center;
    background-repeat: no-repeat;

}




.product-benefits__description{
 font-family: "lato",
"Arial",sans-serif;
font-weight: 400;
font-size: 14px;
font-style: normal;
line-height: 18px;
color: #444444;
}


