.result-example{


}
.result-example__container{
  display: block;
min-width: 320px;
min-height: 659px;
width: 100%;
margin: 0 auto;

background-color: #eaeaea;


}

@media( min-width:$tablet-width){
  .result-example__container{

    background-color: #ffffff;
  }
}
@media( min-width:$desktop-width){
  .result-example__description-statistics-container{
    display:flex;
    flex-direction: column;
  }
}



@media( min-width:$desktop-width){
  .result-example__description-slider-container{
 display: flex;

   background-color: #f2f2f2;
  }
 }



.result-example__title{
  font-family: "Oswald","Arial",
  sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  color: #000000;

}


.result-example__description{
font-family: "lato",
"Arial",sans-serif;
font-weight: 400;
font-size: 14px;
font-style: normal;
line-height: 18px;
color: #444444;
}



.result-example__statistics{
}



.result-example__slider{

}

@media(min-width:$tablet-width){
  .result-example__slider{
background-color: #f2f2f2;
  }
}
