.statistics-example{

}

.statistics-example__value{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #000000;

}

.statistics-example__description{
font-family: "lato",sans-serif;
font-weight: 400;
font-size: 12px;
font-style: normal;
line-height: 12px;
text-align: center;
color: #000000;
}
.statistics-example__description--food{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
