.subscribe{
display: flex;
flex-direction: column;
min-height: 336px;
min-width: 320px;
margin: 0 auto;
}

.subcribe__login-container{
  display: flex;
  flex-direction: column;
}

@media(min-width:$tablet-width){
  .subcribe__login-container{
    display: flex;
    flex-direction: row;
  }
}

.subscribe__title{
font-family: "Oswald", "Arial",
sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 24px;
color: #000000;
}

.subscribe__subtitle{
font-family: "Oswald", "Arial",
sans-serif;
font-weight: 400;
font-size: 16px;
font-style: normal;
line-height: 24px;
color: #000000;
}

.subscribe__form{
  display: flex;
  flex-direction: column;
min-width: 280px;
min-height: 128px;
}



.subscribe__login{
  width: 100%;
  min-width: 280px;
height:56px
}

.subscribe__button{
font-family: "Oswald","Arial",
sans-serif;
font-weight: 400;
font-size: 20px;
font-style: normal;
line-height: 26px;
width:100%;
height:56px;
align-items: center;
text-decoration: none;
text-transform: uppercase;
background-color: #68b738;

color: #ffffff;
}
